:root {
    --button-text: white; 
    --button-background: #F47C7C;
    --button-hover: #f47c7c9b;
    --button-highlight:  #ef9f9f; 
    --score-background: #FAD4D4;
    --reg-text: black;
    --feedback-text: gray; 
}

* {
    font-family: "Helvetica", "Arial", sans-serif;
    color: var(--reg-text); 
}


button, 
#answer-choice li{
    background-color: var(--button-background);
    color: var(--button-text); 
    border: transparent;
    border-radius: 5px;
    padding: 1% 5%;
    margin: 1%; 
    transition: background-color 0.3s ease-in-out;
}

button:hover, 
#answer-choice li:hover {
    background-color: var(--button-highlight);
}
button:active, 
#answer-choice li:active{
    background-color: var(--button-highlight);
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    justify-content: space-evenly;
}

#high-score{
    padding: 1%;
    width: fit-content;
}

#high-score p {
    color: var(--button-highlight); 
}

#scores-list li {
    padding: 3%;
    margin: 5% 1%; 
    background-color: var(--score-background); 
    border-width: 3px; 
    border-radius: 8px;
}

#center{
    display: flex; 
    flex-direction: column; 
    margin: 1%;
    padding: 2%;
    width:75%; 
}

#intro{
    align-items: center;
    padding: 1%; 
    margin: 1%;
}

h1{
    font-size: 50px;
    margin: 1%; 
}

#intro p{
    margin: 1%; 
}

#start-quiz{
    width: fit-content;
    margin: 1%;
}

#quiz-section{
    align-items: left;
    padding: 1%; 
    margin: 1%; 
}

#questions{
    font-size: 30px;
}

#answer-choice li {
    padding: 2% 5%;
    margin: 2% 0; 
}

h3{
    font-size: 20px;
    padding: 5px 0; 
    margin: 1% 0;
}

form p {
    padding: 5px 0; 
    margin: 1% 0;
}

label{
    padding: 5px 0; 
    margin: 1% 0;   
}

#submit-score-btn{
    padding: 5px 5%;
    margin: 1% 0; 
}

#feedback h4{
    color: var(--feedback-text); 
    font-size: 20px; 
    font-weight: 500;
    font-style: italic;
}

#submission {
    margin: 1%; 
    padding: 1%;
}

#btn-menu {
    margin: 0% 1% 1%;
    padding: 0% 1% 1%;
    display: flex;
    justify-content: space-around;
}

#saved-scores-div {
    margin: 0 1%;
    padding: 0 1%;
}
.side {
    /* width: 10%; */
    width: fit-content;
    padding: 1% 0; 
    margin: 1%;
}

#scores-title {
    font-weight: 600;
    margin-top: 0.3rem;
}

#timer {
    width: 100%;
}

.timer-dec {
    margin-bottom: 0.3rem;
    padding-bottom: 0.2rem;
    border-bottom: rgb(181, 181, 181) solid 1px; 
}

#side-score {
    background-color: var(--button-highlight);
    padding: 0.2rem;
}

#side-score ol {
    margin: 1%;
    padding: 1%;
}

#scores-list-end{
    padding: 1%;
    margin: 1%; 
    /* list-style-type: none; */
}

#scores-list-end li{
    padding: 2px; 
    margin: 2px;
}

#special-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide{
    display: none;
}